{% extends "base.html" %}

{% block title %}Panel Administrador{% endblock %}

{% block content %}

<h1>Panel Administrador</h1>
<p>Resumen general del sistema.</p>

<div class="row mt-4">

    <div class="col-md-3">
        <div class="card shadow text-center">
            <div class="card-body">
                <h5>Total Usuarios</h5>
                <h2>{{ total_users }}</h2>
            </div>
        </div>
    </div>


</div>

<div class="card shadow mt-4">
    <div class="card-header">
        <h4>Usuarios Registrados</h4>
    </div>

    <div class="card-body table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>

                    <td>

                        <form action="{{ url_for('admin_eliminar_usuario', user_id=user.id) }}" method="POST"
                            onsubmit="return confirm('¿Seguro que deseas eliminar este usuario?');">

                            <button class="btn btn-danger btn-sm">
                                Eliminar
                            </button>

                        </form>

                    </td>


                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>


{% endblock %}