{% extends "base.html" %}

{% block title %}Cambiar Contraseña{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6">

        <div class="card shadow">
            <div class="card-header">
                <h3>{{ t("change_password") }}</h3>
            </div>

            <div class="card-body">

                <form method="POST">

                    <div class="mb-3">
                        <label class="form-label">
                              {{ t("current_password") }}
                        </label>

                        <input
                            type="password"
                            name="current_password"
                            class="form-control"
                            required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">
                             {{ t("new_password") }}
                        </label>   
                        <input
                            type="password"
                            name="new_password"
                            class="form-control"
                            required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">
                             {{ t("confirm_password") }}
                        </label>

                        <input
                            type="password"
                            name="confirm_password"
                            class="form-control"
                            required>
                    </div>

                    <div class="form-text">
                        La contraseña debe contener:
                        <ul class="mb-0">
                            <li>{{ t("password_rule_1") }}</li>
                            <li>{{ t("password_rule_2") }}</li>
                            <li>{{ t("password_rule_3") }}</li>
                            <li>{{ t("password_rule_4") }}</li>
                            <li>{{ t("password_rule_5") }}</li>
                        </ul>
                    </div>

                    <button
                        type="submit"
                        class="btn btn-primary">
                         {{ t("save_password") }}
                    </button>

                </form>

            </div>
        </div>

    </div>
</div>

{% endblock %}