{% extends "base.html" %}

{% block title %}{{ t("edit_income") }}{% endblock %}

{% block content %}

<h2>{{ t("edit_income") }}</h2>

<div class="card shadow">
    <div class="card-body">

        <form method="POST" action="/incomes/edit/{{ income.id }}">

            <div class="mb-3">
                <label class="form-label">{{ t("date") }}</label>
                <input
                    type="date"
                    name="date"
                    class="form-control"
                    value="{{ income.date }}"
                    required>
            </div>

            <div class="mb-3">
                <label class="form-label"> {{ t("description") }}</label>
                <input
                    type="text"
                    name="description"
                    class="form-control"
                    value="{{ income.description }}"
                    required>
            </div>

            <div class="mb-3">
                <label class="form-label">
                    {{ t("amount") }}
                    ({{ user.currency | currency_symbol }})
                </label>
                <input
                    type="number"
                    name="amount"
                    step="0.01"
                    class="form-control"
                    value="{{ income.amount }}"
                    required>
            </div>

            <button type="submit" class="btn btn-primary">
                 {{ t("save_changes") }}
            </button>

            <a href="/incomes" class="btn btn-secondary">
                {{ t("cancel") }}
            </a>

        </form>

    </div>
</div>

{% endblock %}