{% extends "base.html" %}

{% block title %}
{{ t("terms_of_use") }}
{% endblock %}

{% block content %}

<div class="container mt-4">

    <h1>{{ t("terms_of_use") }}</h1>

    <p>
        {{ t("last_updated") }}: {{ t("terms_last_updated_date") }}
    </p>

    <hr>

    <h3>{{ t("acceptance_of_terms") }}</h3>

    <p>
        {{ t("acceptance_of_terms_text") }}
    </p>

    <h3>{{ t("permitted_use") }}</h3>

    <p>
        {{ t("permitted_use_text") }}
    </p>

    <h3>{{ t("user_responsibility") }}</h3>

    <ul>
        <li>{{ t("user_responsibility_1") }}</li>
        <li>{{ t("user_responsibility_2") }}</li>
        <li>{{ t("user_responsibility_3") }}</li>
    </ul>

    <h3>{{ t("service_availability") }}</h3>

    <p>
        {{ t("service_availability_text") }}
    </p>

    <h3>{{ t("account_deletion") }}</h3>

    <p>
        {{ t("terms_account_deletion_text") }}
    </p>

    <h3>{{ t("modifications") }}</h3>

    <p>
        {{ t("modifications_text") }}
    </p>

    <h3>{{ t("contact") }}</h3>

    <p>
        {{ t("contact_email") }}

        <strong>
            cortessoftware@gmail.com
        </strong>
    </p>

</div>

{% endblock %}