{% extends "base.html" %}

{% block title %}
{{ t("privacy_policy") }}
{% endblock %}

{% block content %}

<div class="container mt-4">

    <h1>{{ t("privacy_policy") }}</h1>

    <p>
        {{ t("last_updated_date") }}:
        {{ t("privacy_last_updated_date") }}
    </p>

    <hr>

    <h3>{{ t("introduction") }}</h3>

    <p>
        {{ t("introduction_text") }}
    </p>

    <h3>{{ t("information_we_collect") }}</h3>

    <p>{{ t("information_we_collect_text") }}</p>

    <ul>
        <li>{{ t("collect_name") }}</li>
        <li>{{ t("collect_email") }}</li>
        <li>{{ t("collect_income") }}</li>
        <li>{{ t("collect_expenses") }}</li>
        <li>{{ t("collect_savings") }}</li>
    </ul>

    <h3>{{ t("use_of_information") }}</h3>

    <p>
        {{ t("use_of_information_text") }}
    </p>

    <h3>{{ t("data_protection") }}</h3>

    <p>
        {{ t("data_protection_text") }}
    </p>

    <h3>{{ t("account_deletion") }}</h3>

    <p>
        {{ t("account_deletion_text") }}
    </p>

    <h3>{{ t("contact") }}</h3>

    <p>
        {{ t("contact_text") }}

        <strong>
            cortessoftware@gmail.com
        </strong>

    </p>

</div>

{% endblock %}