{% extends "base.html" %}

{% block title %}Mi Perfil{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6">

        <div class="card shadow">
            <div class="card-header">
                <h3>{{ t("profile") }}</h3>
            </div>

            <div class="card-body">

                <form method="POST" action="/profile">

                    <div class="mb-3">
                        <label class="form-label">{{ t("name") }}</label>
                        <input
                            type="text"
                            name="name"
                            class="form-control"
                            value="{{ user.name }}"
                            required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">{{ t("email") }}</label>
                        <input
                            type="email"
                            name="email"
                            class="form-control"
                            value="{{ user.email }}"
                            required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">
                            {{ t("currency") }}
                        </label>
                    
                        <select name="currency" class="form-control">
                    
                            {% for currency in currencies %}
                    
                            <option value="{{ currency.code }}" {% if user.currency==currency.code %} selected {% endif %}>
                                {{ currency.code }}
                                -
                                {{ currency.name }}
                                ({{ currency.symbol }})
                            </option>
                    
                            {% endfor %}
                    
                        </select>
                    </div>

                    

                    <button type="submit" class="btn btn-primary">
                       {{ t("save_changes") }}
                    </button>

                    <a href="/dashboard" class="btn btn-secondary">
                        {{ t("cancel") }}
                    </a>

                    <a href="/change-password" class="btn btn-warning">
                         {{ t("change_password") }}
                    </a>

                </form>

                <hr>
                
                <form method="POST" action="/delete-account"
                    onsubmit="return confirm('¿Estás seguro de eliminar tu cuenta? Esta acción no se puede deshacer.');">
                
                    <button type="submit" class="btn btn-danger">
                         {{ t("delete_account") }}
                    </button>
                
                </form>

            </div>
        </div>

    </div>
</div>

{% endblock %}