{% extends "base.html" %}

{% block title %}Registro{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6">

        <div class="card shadow">
            <div class="card-header">
                <h3>{{ t("register_title") }}</h3>
            </div>

            <div class="card-body">
                <form method="POST" action="/register">

                    <div class="mb-3">
                        <label class="form-label">{{ t("name") }}</label>
                        <input type="text" 
                        name="name" 
                        class="form-control" 
                        placeholder="{{ t('name_placeholder') }}"
                        required>
                        
                    </div>

                    <div class="mb-3">
                        <label class="form-label"> {{ t("email") }}</label>
                        <input type="email" 
                        name="email" 
                        class="form-control" 
                        placeholder="{{ t('email_placeholder') }}"
                        required maxlength="100"
                        autocomplete="email"
                        value="{{ request.form.get('email', '') }}">
                    </div>

                    <div class="mb-3">
                        <label class="form-label"> {{ t("password") }}</label>
                        <input 
                        type="password" 
                        name="password" 
                        class="form-control"
                        placeholder="{{ t('password_placeholder') }}">
                    </div>
                  
                    <div class="mb-3">
                        <label class="form-label">{{ t("confirm_password") }}</label>
                        <input type="password" 
                        name="confirm_password" 
                        placeholder="{{ t('confirm_password_placeholder') }}"
                        class="form-control">
                    </div>

                    <div class="alert alert-info mt-2 mb-0">
                        <strong>{{ t("password_requirements") }}</strong>
                    
                        <ul class="mb-0 mt-2">
                            <li>{{ t("password_rule_1") }}</li>
                            <li>{{ t("password_rule_2") }}</li>
                            <li>{{ t("password_rule_3") }}</li>
                            <li>{{ t("password_rule_4") }}</li>
                            <li>{{ t("password_rule_5") }}</li>
                        </ul>
                    </div>

                    <button type="submit" class="btn btn-success w-100">
                         {{ t("create_account") }}
                    </button>

                </form>
            </div>
        </div>

    </div>
</div>

{% endblock %}