{% extends "base.html" %}

{% block title %}{{ t("reset_password") }}{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-5">

        <div class="card shadow">
            <div class="card-header">
                <h3>{{ t("reset_password") }}</h3>
            </div>

            <div class="card-body">

                <form method="POST">

                    <div class="mb-3">
                        <label class="form-label"> {{ t("new_password") }}</label>
                        <input
                            type="password"
                            name="password"
                            class="form-control"
                            required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label"> {{ t("confirm_password") }}</label>
                        <input
                            type="password"
                            name="confirm_password"
                            class="form-control"
                            required>
                    </div>
                    <div class="alert alert-info mt-2 mb-0">
                        <strong>{{ t("password_requirements") }}</strong>
                    
                        <ul class="mb-0 mt-2">
                            <li>{{ t("password_rule_1") }}</li>
                            <li>{{ t("password_rule_2") }}</li>
                            <li>{{ t("password_rule_3") }}</li>
                            <li>{{ t("password_rule_4") }}</li>
                            <li>{{ t("password_rule_5") }}</li>
                        </ul>
                    </div>

                    <button type="submit" class="btn btn-primary w-100">
                         {{ t("save_new_password") }}

                    </button>

                </form>

            </div>
        </div>

    </div>
</div>

{% endblock %}