{% extends "base.html" %}

{% block title %}Restablecer Contraseña{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-5">

        <div class="card shadow">
            <div class="card-header">
                <h3>Restablecer Contraseña</h3>
            </div>

            <div class="card-body">

                <form method="POST">

                    <div class="mb-3">
                        <label class="form-label">Nueva Contraseña</label>
                        <input
                            type="password"
                            name="password"
                            class="form-control"
                            required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Confirmar Contraseña</label>
                        <input
                            type="password"
                            name="confirm_password"
                            class="form-control"
                            required>
                    </div>

                    <button type="submit" class="btn btn-primary w-100">
                        Guardar nueva contraseña
                    </button>

                </form>

            </div>
        </div>

    </div>
</div>

{% endblock %}